<div class="container bottom" style="border-top: 1px solid black; border-bottom: 1px solid black">
    <div class="row">
        <div class="col-4 text-center">© Powered by <a href="#">FPT University</a> | <a href="#">CMS</a> | <a href="#">library</a> | <a href="#">books24x7</a></div>
    </div>
</div>
