<div class="container">
    <div class="row" style="text-align:center">
        <p>Mọi góp ý, thắc mắc xin liên hệ: Phòng dịch vụ sinh viên: Email: <a href="mailto:dichvusinhvien@fe.edu.vn">dichvusinhvien@fe.edu.vn</a> .<br /> Điện thoại: <span style="font-weight:600;">(024)7308.13.13</span></p>
    </div>
</div>
@Html.Partial("_defaultFooter")