@using System_Management.Models
@{
    ViewBag.Title = "Notification";
    Layout = "~/Views/Shared/_contentLayout.cshtml";
    List<News> news = ViewBag.News;
}
<div class="container">
    @foreach (var item in news)
    {
        <div class="container">
            <div class="row">
                <h3>@item.NewsTitle</h3>
            </div>
            <div class="row">
                @{
                    string content = item.NewsContent;
                    string[] lines = content.Split('$');
                }
                @foreach (var line in lines)
                {
                    <p>@line</p>
                }
            </div>
        </div>

    }

</div>

<div class="container">
    <p>Trân trọng! Phòng Tổ chức và Quản lý Đào tạo</p>
    @Html.ActionLink("Trang chủ", "Index", "Home")

</div>
